:root {
  --bg-color: #f5f7fb;
  --main-text-color: #293264;
  --main-btn-color: #4d5b9e;
  --border-bottom-line: #dbdef0;
  --player-answer-color: #d6dbf5;
  --correct-color: #94d7a2;
  --incorrect-color: #f8bcbc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

body::before,
body::after {
  position: fixed;
  z-index: -1;
}

body::before {
  content: url(./assets/blob1.svg);
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}

body::after {
  content: url(./assets/blob2.svg);
  bottom: 0;
  left: 0;
  transform: translate(-40%, 40%);
}

h1,
h3 {
  font-family: "Karla", sans-serif;
}

h1 {
  margin-top: 0;
}

.app {
  padding: 2em;
}

.not-started {
  padding: 2em;
  text-align: center;
}

.quizzical {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
}

.question-container {
  border-bottom: 1px solid var(--border-bottom-line);
  padding-bottom: 1em;
}

.question {
  font-size: 1rem;
}

.answers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.answer {
  border: 0.1em solid var(--main-btn-color);
  border-radius: 10px;
  font-size: 0.7rem;
  padding: 0.3em 1em;
  cursor: pointer;
}

.player-answer {
  background-color: var(--player-answer-color);
  border: none;
}

.incorrect {
  background-color: var(--incorrect-color);
  border: none;
}

.correct {
  background-color: var(--correct-color);
  border: none;
}

span.answer[disabled] {
  opacity: 0.6;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 450px) {
  .results {
    flex-direction: row;
  }
}

button {
  background-color: var(--main-btn-color);
  color: var(--bg-color);
  border: none;
  border-radius: 15px;
  margin: 1.2em 0;
  cursor: pointer;
}

.start-btn {
  font-size: 1.2rem;
  padding: 1em 3em;
}

.game-btn {
  margin: 1.5em;
  padding: 1em 2em;
  border-radius: 10px;
}

.errMsg {
  color: red;
}

.hidden {
  display: none;
}
